doctype html
html(lang="en-CA")
	head
		block head
			meta(charset="UTF-8")
			link(
				rel="stylesheet"
				href="_.css"
			)
	body
		block body
		block foot
			nav
				a(href="index.html"): abbr(title=dolita) Home
				| #{space}|#{space}
				a(href="istaga.html"): abbr(title=istaga) History
				| #{space}|#{space}
				a(href="kinslada.html"): abbr(title=kinslada) Genealogy
				| #{space}|#{space}
				a(href="mena.html"): abbr(title=mena) Culture