mixin abbrA(displayText="Home",hoverText=dolita,link="index.html")
	abbr(title=hoverText)
		a(href=link)
			= displayText
mixin pipe
	= space
	| |
	= space
doctype html
html(lang="en-CA")
	block head
		head
			meta(charset="UTF-8")
			link(
				rel="stylesheet"
				href="_.css"
			)
	body
		block nav
			nav
				+abbrA
				+pipe
				+abbrA("History",istaga,"istaga.html")
				+pipe
				+abbrA("Genealogy",kinslada,"kinslada.html")
				+pipe
				+abbrA("Culture",mena,"mena.html")
		block body