                nav
                        a(href="index.html") Home
                        | #{space}|#{space}
                        a(href="istaga.html") History
                        | #{space}|#{space}
                        a(href="kinslada.html") Genealogy
                        | #{space}|#{space}
                        a(href="mena.html") Culture