-
	const space = "\u{20}"
	const __ = "\u{0323}"
	const _ = "\u{0301}"
	const d = "\u{00F0}"
	const e = "e" + _
	const i = "i" + _
	const n = "\u{014B}"
	const o = "o" + _
	const s = "\u{017F}"
	const s_ = s + _
	const S_ = s_.toUpperCase()
	const t = "\u{00FE}"
	const u = "u" + _
	const _u = "u" + "\u{0308}"
	const z_ = "z" + _
	const deity = {
		dodur: `Do${__ + d}ur`,
		lidin: `Li${__ + d}in`,
		timur: `T${i + __}mur`,
		kwelin: `Kwe${__}lin`,
		hadin: `Ha${__}din`,
		netur: `Ne${__}tur`,
		eldur: `E${__}ldur`,
		yodur: `Y${o + __}dur`,
		ludin: `L${u + __}din`,
		bradur: `Bra${__ + d}ur`,
		vadin: `Va${__}din`,
		fyelur: `Fye${__}lur`,
		kenur: `Ke${__}nur`,
		patin: `Pa${__}tin`,
		dorin: `D${o + __}rin`,
		galdin: `Ga${__}ldin`,
		stridur: `Str${i + __ + d}ur`,
		formur: `F${o + __}rmur`,
		fridin: `Fri${__ + d}in`,
		furlin: `Fu${__}rlin`,
		felkilur: `Fe${__}lkilur`,
		helin: `H${e + __}lin`,
		golgemin: `G${o + __}lgemin`,
		efkimin: `Efki${__}min`,
		skimzur: `Ski${__}m${z_}ur`,
		dyur: "Dyur",
		opfin: `O${__}pfin`,
		onlegur: `O${__}nlegur`,
		eksprenur: `Ek${s}pre${__ + n}ur`,
		strefnur: `Stre${__}fnur`,
		lakbin: `La${__}kbin`,
		kogur: `Ko${__}gur`,
		ravin: `Ra${__}vin`,
		brainur: `Bra${i + __}nur`,
		frekur: `Fre${__}kur`,
		purlin: `Pu${__}rlin`,
		kufnur: `K${_u + __}fnur`,
		pikin: `P${i + __}kin`,
		sirilur: `S${i + __}rilur`,
		upgodin: `U${__}pgo${d}in`,
		dolin: `Do${__}lin`,
		yordin: `Y${o + __}rdin`,
		sodur: `${S_ + o + __}dur`,
		oditur: `O${__}ditur`,
		pukin: `P${u + __}kin`,
		grendur: `Gr${e + __}ndur`,
		skopkin: `Sko${__}pkin`,
		stinur: `S${t}i${__}nur`,
		arktin: `A${__}rktin`,
		bisur: `Bi${__ + s}ur`,
		sprinur: `Spri${__ + n}ur`,
		kartlin: `Ka${__}rtlin`,
		nokvur: `No${__}kvur`,
		skurdin: `Sku${__}r${d}in`,
		mecur: `Me${__}cur`,
		ristilin: `Ri${__ + s}tilin`,
		molin: `M${o + __}lin`
	}
