extends ../_.pug
append head
	title The I#{s}ta#{__}ga
block body
	h1 The I#{s}ta#{__}ga
	p: sup: i The I#{s}ta#{__}ga is a historical record of the Do#{__}lita
	h2#fristila The Fri#{s}ti#{__}la
	ul
		li
			| #{deity.timur} and the fates reside in Ha#{__}#{d}r#{u}, the uppermost plane, along with#{space}
			a(href="kinslada.html#gen-2a") The U#{__}rla
		li
			| #{deity.dodur} and #{deity.lidin} found allied nations, with the princes and princesses forming provinces within their parents' nations
			ul
				li #{deity.dodur} founds Do#{__}#{d}#{i}n
				li #{deity.lidin} founds Li#{__}#{d}#{i}n
	h2#valda The Va#{__}lda
	ul
		li #{deity.dodur} attempted a coup, The Va#{__}lda, against #{deity.lidin} and #{deity.timur}. The Va#{__}lda failed, resulting in #{deity.dodur}'s imprisonment in Ha#{__}lri#{t}, the underworld
	h2#midva The Mi#{__}dva
	ul
		li With #{deity.dodur} imprisoned in Ha#{__}lri#{t}, and thus unable to govern his nation, Li#{__}#{d}#{i}n annexes Do#{__}#{d}#{i}n. Following this, Li#{__}#{d}#{i}n is renamed to Do#{__}li#{d}#{i}n
	h2#furda The Fu#{__}r#{d}a
	ul
		li In ten thousand years #{deity.dodur} will escape, bringing the apocalypse, called The Fu#{__}r#{d}a, and the deaths of #{deity.lidin}'s descendants
		li After the deaths of her descendants, #{deity.lidin} will kill #{deity.dodur}
		li By #{deity.lidin}'s request, she is mercifully killed by #{deity.timur}, as she could not live with herself after taking a life, no matter the justification
		li #{deity.timur} then rewinds time back to the beginning, in an attempt to prevent his sister's death
		li This loop repeats infinitely
		li It is unknown how many loops have happened, though estimates range from the thousands to the millions
		li #{deity.timur} is the only one with any memory of The Fu#{__}r#{d}a
