extends ../_.pug
append head
	title= istaga
block body
	h1= istaga
	p: sup: i #{istaga} is a historical record of #{dolita}
	details
		summary#fristila= fristila
		ul
			li
				| #{deity.timur} and the fates reside in #{hadru}, the uppermost plane, along with#{space}
				a(href="kinslada.html#gen-2a")= jurla
			li
				| #{deity.dodur} and #{deity.lidin} found allied nations, with the princes and princesses forming provinces within their parents' nations
				ul
					li #{deity.dodur} founds #{dodin}
					li #{deity.lidin} founds #{lidin}
	details
		summary#valda The Va#{__}lda
		ul
			li #{deity.dodur} attempted a coup, #{valda}, against #{deity.lidin} and #{deity.timur}. #{valda} failed, resulting in #{deity.dodur}'s imprisonment in #{halrit}, the underworld
	details
		summary#midva= midva
		ul
			li With #{deity.dodur} imprisoned in #{halrit}, and thus unable to govern his nation, #{lidin} annexes #{dodin}. Following this, #{lidin} is renamed to #{dolidin}
	details
		summary#furda= furda
		ul
			li In ten thousand years #{deity.dodur} will escape, bringing the apocalypse, called #{furda}, and the deaths of #{deity.lidin}'s descendants
			li After the deaths of her descendants, #{deity.lidin} will kill #{deity.dodur}
			li By #{deity.lidin}'s request, she is mercifully killed by #{deity.timur}, as she could not live with herself after taking a life, no matter the justification
			li #{deity.timur} then rewinds time back to the beginning, in an attempt to prevent his sister's death
			li This loop repeats infinitely
			li It is unknown how many loops have happened, though estimates range from the thousands to the millions
			li #{deity.timur} is the only one with any memory of #{furda}