extends ../_.pug
append head
	title= kinslada
block body
	h1= kinslada
	p #{kinslada} is a genealogical record of #{dolita}
	details#gen-1
		summary Generation 1
		dl
			dt #{deity.dodur}, God of Death
			dd Ex-Husband of #{deity.lidin}
		dl
			dt #{deity.lidin}, Goddess of Life
			dd Ex-Wife of #{deity.dodur}
			dd Sister of #{deity.timur}
		dl
			dt #{deity.timur}, God of Time
			dd Brother of #{deity.lidin}
	details#gen-2a
		summary Generation 2A (#{jurla})
		dl
			dt #{deity.kwelin}, Weaver of Fate
			dd Daughter of #{deity.timur}
		dl
			dt #{deity.hadin}, Writer of Fate
			dd Daughter of #{deity.timur}
		dl
			dt #{deity.netur}, Trimmer of Fate
			dd Son of #{deity.timur}
	details#gen-2b
		summary Generation 2B
		dl
			dt #{deity.eldur}, God of Energy
			dd Son of #{deity.lidin}
		dl
			dt #{deity.jodur}, God of Earth
			dd Son of #{deity.dodur}
		dl
			dt #{deity.ludin}, Goddess of Air
			dd Daughter of #{deity.dodur}
		dl
			dt #{deity.bradur}, God of Fire
			dd Son of #{deity.lidin}
		dl
			dt #{deity.vadin}, Goddess of Water
			dd Daughter of #{deity.lidin}
	details#gen-3
		summary Generation 3
		dl
			dt #{deity.fjelur}, God of Mountains
			dd Son of #{deity.jodur}
		dl
			dt #{deity.kenur}, God of Canyons & Cliffs
			dd Son of #{deity.jodur}
		dl
			dt #{deity.patin}, Goddess of Plants
			dd Daughter of #{deity.ludin}
		dl
			dt #{deity.dorin}, Goddess of Creatures
			dd Daughter of #{deity.eldur}
		dl
			dt #{deity.galdin}, Goddess of Magic
			dd Daughter of #{deity.eldur}
		dl
			dt #{deity.stridur}, God of War
			dd Son of #{deity.bradur}
		dl
			dt #{deity.formur}, God of Protective Warmth
			dd Son of #{deity.bradur}
		dl
			dt #{deity.fridin}, Goddess of Peace
			dd Daughter of #{deity.vadin}
		dl
			dt #{deity.furlin}, Goddess of Travel
			dd Daughter of #{deity.vadin}
	details#gen-4
		summary Generation 4
		dl
			dt #{deity.felkilur}, God of Volcanoes
			dd Son of #{deity.fjelur}
		dl
			dt #{deity.helin}, Goddess of Caves
			dd Daughter of #{deity.fjelur}
		dl
			dt #{deity.golgemin}, Goddess of Alchemy
			dd Daughter of #{deity.patin}
		dl
			dt #{deity.efkimin}, Goddess of Chemistry
			dd Daughter of #{deity.patin}
		dl
			dt #{deity.skimzur}, God of Monsters
			dd Son of #{deity.dorin}
		dl
			dt #{deity.djur}, God of Animals
			dd Son of #{deity.dorin}
		dl
			dt #{deity.opfin}, Goddess of Invention
			dd Daughter of #{deity.galdin}
		dl
			dt #{deity.onlegur}, God of Construction
			dd Son of #{deity.galdin}
		dl
			dt #{deity.eksprenur}, God of Explosives
			dd Son of #{deity.stridur}
		dl
			dt #{deity.strefnur}, God of Strategy
			dd Son of #{deity.stridur}
		dl
			dt #{deity.lakbin}, Goddess of Healing
			dd Daughter of #{deity.fridin}
		dl
			dt #{deity.kogur}, God of Art
			dd Son of #{deity.fridin}
	details#gen-5
		summary Generation 5
		dl
			dt #{deity.ravin}, Goddess of Lava
			dd Daughter of #{deity.felkilur}
		dl
			dt #{deity.brainur}, God of Burning
			dd Son of #{deity.felkilur}
		dl
			dt #{deity.frekur}, God of Fear
			dd Son of #{deity.helin}
		dl
			dt #{deity.purlin}, Goddess of Wealth
			dd Daughter of #{deity.helin}
		dl
			dt #{deity.kufnur}, God of Artifacts
			dd Son of #{deity.golgemin}
		dl
			dt #{deity.pikin}, Goddess of Potions
			dd Daughter of #{deity.golgemin}
		dl
			dt #{deity.sirilur}, God of Acids
			dd Son of #{deity.efkimin}
		dl
			dt #{deity.upgodin}, Goddess of Discovery
			dd Daughter of #{deity.efkimin}
		dl
			dt #{deity.dolin}, Goddess of Air Animals
			dd Daughter of #{deity.djur}
		dl
			dt #{deity.jordin}, Goddess of Land Animals
			dd Daughter of #{deity.djur}
		dl
			dt #{deity.sodur}, God of Sea Animals
			dd Son of #{deity.djur}
		dl
			dt #{deity.oditur}, God of Undead
			dd Son of #{deity.skimzur}
		dl
			dt #{deity.pukin}, Goddess of Demons
			dd Daughter of #{deity.skimzur}
		dl
			dt #{deity.grendur}, God of Intelligence
			dd Son of #{deity.opfin}
		dl
			dt #{deity.skopkin}, Goddess of Creativity
			dd Daughter of #{deity.opfin}
		dl
			dt #{deity.stinur}, God of Carpentry
			dd Son of #{deity.onlegur}
		dl
			dt #{deity.arktin}, Goddess of Architecture
			dd Daughter of #{deity.onlegur}
		dl
			dt #{deity.bisur}, God of Firearms
			dd Son of #{deity.eksprenur}
		dl
			dt #{deity.sprinur}, God of Bombs
			dd Son of #{deity.eksprenur}
		dl
			dt #{deity.kartlin}, Goddess of Cartography
			dd Daughter of #{deity.strefnur}
		dl
			dt #{deity.nokvur}, God of Precision
			dd Son of #{deity.strefnur}
		dl
			dt #{deity.skurdin}, Goddess of Surgery
			dd Daughter of #{deity.lakbin}
		dl
			dt #{deity.mecur}, God of Medicine
			dd Son of #{deity.lakbin}
		dl
			dt #{deity.ristilin}, Goddess of Carving
			dd Daughter of #{deity.kogur}
		dl
			dt #{deity.molin}, Goddess of Paint
			dd Daughter of #{deity.kogur}
	details#gen-6
		summary Generation 6
		p These Deities govern specific areas; islands, landmarks, lakes, oceans, etc.
	details#makra
		summary The #{makra}
		ul
			li: i Not Deities
			li Favoured mortals of a deity, giving them a fraction of their power
			li
				| Each deity has their own system or reasoning for choosing a #{makra}
				ul
					li Some like to follow certain bloodlines, while others do not
					li Some deities turn their favoured mortal into a #{makra} when they reach adulthood, some when the mortal proves themself, and others do so in the mortal’s time of need
					li Some enjoy the Chaos
			li Orders of magnitude stronger than a Wizard, but much weaker than actual gods
			li Each Deity has a #{makra}
			li This status grants a mortal significant political power
			li Most historical heroes are #{makra}
			li Those that aren't are even more legendary
			li Being gifted power by multiple deities is extraordinarily rare, but not impossible
			li There have only been several in history
			li
				| Once, and only once, there was a #{makra} of #{deity.dodur}, #{deity.lidin} and #{deity.timur}, prior to#{space}
				a(href="istaga.html#valda"): i= valda
			li This #{makra} was The First
			li When a #{makra} dies, a new #{makra} is chosen
			li A #{makra} can lose their status if they do something that angers their patron, without a reasonable explanation
