doctype html
html(lang="en-CA")
	head
		meta(charset="UTF-8")
		link(
			rel="stylesheet"
			href="style.css"
		)
		title The Do#{__}lita
	body
		h1 The Do#{__}lita
		table
			tr
				th: abbr(title="History"): a(href="istaga.html") The I#{s}ta#{__}ga
				th: abbr(title="Genealogy"): a(href="kinslada.html") The Kin#{s}la#{__}#{d}a
				th: abbr(title="Culture"): a(href="mena.html") The Me#{__}na
			tr
				td: a(href="istaga.html#fristila") The Fri#{s}ti#{__}la
				td: a(href="kinslada.html#gen-1") Generation 1
				td: a(href="mena.html#professions") Professions
			tr
				td: a(href="istaga.html#valda") The Va#{__}lda
				td: a(href="kinslada.html#gen-2a") The U#{__}rla
				td: a(href="mena.html#doda") The Do#{__}#{d}a
			tr
				td: a(href="istaga.html#midva") The Mi#{__}dva
				td: a(href="kinslada.html#gen-2b") Generation 2B
				td(rowspan="6")
			tr
				td: a(href="istaga.html#furda") The Fu#{__}r#{d}a
				td: a(href="kinslada.html#gen-3") Generation 3
			tr
				td(rowspan="4")
				td: a(href="kinslada.html#gen-4") Generation 4
			tr: td: a(href="kinslada.html#gen-5") Generation 5
			tr: td: a(href="kinslada.html#gen-6") Generation 6
			tr: td: a(href="kinslada.html#makra") The Ma#{__}kra