doctype html
html(lang="en-CA")
	head
		meta(charset="UTF-8")
		link(
			rel="stylesheet"
			href="style.css"
		)
		title The Kin#{s}la#{__+d}a
	body
		h1 The Kin#{s}la#{__+d}a
		p The Kin#{s}la#{__+d}a is a genealogical record of The Do#{__}lita
		div#gen-1
			h2 Generation 1
			ul
				li #{deity.dodur}, God of Death
					ul: li Ex-Husband of #{deity.lidin}
				li #{deity.lidin}, Goddess of Life
					ul
						li Ex-Wife of #{deity.dodur}
						li Sister of #{deity.timur}
				li #{deity.timur}, God of Time
					ul: li Brother of #{deity.lidin}
		div#gen-2a
			h2 Generation 2A (The U#{__}rla)
			ul
				li #{deity.kwelin}, Weaver of Fate
					ul: li Daughter of #{deity.timur}
				li #{deity.hadin}, Writer of Fate
					ul: li Daughter of #{deity.timur}
				li #{deity.netur}, Trimmer of Fate
					ul: li Son of #{deity.timur}
		div#gen-2b
			h2 Generation 2B
			ul
				li #{deity.eldur}, God of Energy
					ul: li Son of #{deity.lidin}
				li #{deity.yodur}, God of Earth
					ul: li Son of #{deity.dodur}
				li #{deity.ludin}, Goddess of Air
					ul: li Daughter of #{deity.dodur}
				li #{deity.bradur}, God of Fire
					ul: li Son of #{deity.lidin}
				li Va#{__}din, Goddess of Water
					ul: li Daughter of #{deity.lidin}
		div#gen-3
			h2 Generation 3
			ul
				li #{deity.fyelur}, God of Mountains
					ul: li Son of #{deity.yodur}
				li #{deity.kenur}, God of Canyons & Cliffs
					ul: li Son of #{deity.yodur}
				li #{deity.patin}, Goddess of Plants
					ul: li Daughter of #{deity.ludin}
				li #{deity.dorin}, Goddess of Creatures
					ul: li Daughter of #{deity.eldur}
				li #{deity.galdin}, Goddess of Magic
					ul: li Daughter of #{deity.eldur}
				li #{deity.stridur}, God of War
					ul: li Son of #{deity.bradur}
				li #{deity.formur}, God of Protective Warmth
					ul: li Son of #{deity.bradur}
				li #{deity.fridin}, Goddess of Peace
					ul: li Daughter of Va#{__}din
				li #{deity.furlin}, Goddess of Travel
					ul: li Daughter of Va#{__}din
		div#gen-4
			h2 Generation 4
			ul
				li #{deity.felkilur}, God of Volcanoes
					ul: li Son of #{deity.fyelur}
				li #{deity.helin}, Goddess of Caves
					ul: li Daughter of #{deity.fyelur}
				li #{deity.golgemin}, Goddess of Alchemy
					ul: li Daughter of #{deity.patin}
				li #{deity.efkimin}, Goddess of Chemistry
					ul: li Daughter of #{deity.patin}
				li #{deity.skimzur}, God of Monsters
					ul: li Son of #{deity.dorin}
				li #{deity.dyur}, God of Animals
					ul: li Son of #{deity.dorin}
				li #{deity.opfin}, Goddess of Invention
					ul: li Daughter of #{deity.galdin}
				li #{deity.onlegur}, God of Construction
					ul: li Son of #{deity.galdin}
				li #{deity.eksprenur}, God of Explosives
					ul: li Son of #{deity.stridur}
				li #{deity.strefnur}, God of Strategy
					ul: li Son of #{deity.stridur}
				li #{deity.lakbin}, Goddess of Healing
					ul: li Daughter of #{deity.fridin}
				li #{deity.kogur}, God of Art
					ul: li Son of #{deity.fridin}
		div#gen-5
			h2 Generation 5
			ul
				li #{deity.ravin}, Goddess of Lava
					ul: li Daughter of #{deity.felkilur}
				li #{deity.brainur}, God of Burning
					ul: li Son of #{deity.felkilur}
				li #{deity.frekur}, God of Fear
					ul: li Son of #{deity.helin}
				li #{deity.purlin}, Goddess of Wealth
					ul: li Daughter of #{deity.helin}
				li #{deity.kufnur}, God of Artifacts
					ul: li Son of #{deity.golgemin}
				li #{deity.pikin}, Goddess of Potions
					ul: li Daughter of #{deity.golgemin}
				li #{deity.sirilur}, God of Acids
					ul: li Son of #{deity.efkimin}
				li #{deity.upgodin}, Goddess of Discovery
					ul: li Daughter of #{deity.efkimin}
				li #{deity.dolin}, Goddess of Air Animals
					ul: li Daughter of #{deity.dyur}
				li #{deity.yordin}, Goddess of Land Animals
					ul: li Daughter of #{deity.dyur}
				li #{deity.sodur}, God of Sea Animals
					ul: li Son of #{deity.dyur}
				li #{deity.oditur}, God of Undead
					ul: li Son of #{deity.skimzur}
				li #{deity.pukin}, Goddess of Demons
					ul: li Daughter of #{deity.skimzur}
				li #{deity.grendur}, God of Intelligence
					ul: li Son of #{deity.opfin}
				li #{deity.skopkin}, Goddess of Creativity
					ul: li Daughter of #{deity.opfin}
				li #{deity.stinur}, God of Carpentry
					ul: li Son of #{deity.onlegur}
				li #{deity.arktin}, Goddess of Architecture
					ul: li Daughter of #{deity.onlegur}
				li #{deity.bisur}, God of Firearms
					ul: li Son of #{deity.eksprenur}
				li #{deity.sprinur}, God of Bombs
					ul: li Son of #{deity.eksprenur}
				li #{deity.kartlin}, Goddess of Cartography
					ul: li Daughter of #{deity.strefnur}
				li #{deity.nokvur}, God of Precision
					ul: li Son of #{deity.strefnur}
				li #{deity.skurdin}, Goddess of Surgery
					ul: li Daughter of #{deity.lakbin}
				li #{deity.mecur}, God of Medicine
					ul: li Son of #{deity.lakbin}
				li #{deity.ristilin}, Goddess of Carving
					ul: li Daughter of #{deity.kogur}
				li #{deity.molin}, Goddess of Paint
					ul: li Daughter of #{deity.kogur}
		div#gen-6
			h2 Generation 6
			ul: li These Deities govern specific areas; islands, landmarks, lakes, oceans, etc.
		div#makra
			h2: The Mak#{__}ra
			ul
				li: i Not Deities
				li Favoured mortals of a deity, giving them a fraction of their power
				li Each deity has their own system or reasoning for choosing a Ma#{__}kra
					ul
						li Some like to follow certain bloodlines, while others do not
						li Some deities turn their favoured mortal into a Ma#{__}kra when they reach adulthood, some when the mortal proves themself, and others do so in the mortal’s time of need
						li Some enjoy the Chaos
				li Orders of magnitude stronger than a Wizard, but much weaker than actual gods
				li Each Deity has a Ma#{__}kra
				li This status grants a mortal significant political power
				li Most historical heroes are Ma#{__}kra
				li Those that aren't are even more legendary
				li Being gifted power by multiple deities is extraordinarily rare, but not impossible
				li There have only been several in history
				li
					| Once, and only once, there was a Ma#{__}kra of #{deity.dodur}, #{deity.lidin} and #{deity.timur}, prior to#{space}
					a(href="istaga.html#valda"): i The Va#{__}lda
				li This Ma#{__}kra was The First
				li When a Ma#{__}kra dies, a new Ma#{__}kra is chosen
				li A Ma#{__}kra can lose their status if they do something that angers their patron, without a reasonable explanation
		nav
			a(href="index.html") Home
			| #{space}|#{space}
			a(href="istaga.html") History
			| #{space}|#{space}
			a(href="kinslada.html") Genealogy
			| #{space}|#{space}
			a(href="mena.html") Culture