doctype html
html(lang="en-CA")
	head
		meta(charset="UTF-8")
		link(
			rel="stylesheet"
			href="style.css"
		)
		title The Me#{__}na
	body
		h1 The Me#{__}na
		p
			| The#{space}
			i Me#{__}na
			| #{space}is a record of the culture of The#{space}
			i Fo#{__}kra
			| ; the people that worship The#{space}
			i Do#{__}lita
			| .
		p
			| No one worships the entirety of The#{space}
			i Do#{__}lita
			| , but rather the Deities important to their life.
		h2#professions Professions
		ul
			li
				| Cooks
				ul: li Bra#{i}#{__}nur
			li
				| Hunters
				ul
					li Dyu#{__}r
					li #{S}tre#{__}fnur
					li No#{__}kvur
			li
				| Inventors
				ul
					li O#{__}pfin
					li Gr#{e}#{__}ndur
					li #{S}ko#{__}pkin
			li
				| Scientists
				ul
					li Efki#{__}min
					li G#{o}#{__}lgemin
					li #{S}#{i}#{__}rilur
					li Upgo#{__}#{d}in
					li Gr#{e}#{__}ndur
			li
				| Smiths
				ul
					li K#{_u}#{__}fnur
					li No#{__}kvur
			li
				| Wizard
				ul
					li Any mortal can become a Wizard, but some people are more gifted than others
					li There are post-secondary schools, where one can become a skilled wizard
					li
						| Imbued by#{space}
						i Ga#{__}ldin
						| , with a fraction of the power of another Deity; i.e:
						ul
							li Pyrokinetics; Bra#{__}#{d}ur
							li Hydrokinetics; Va#{__}din
							li Geokinetics; Y#{o}#{__}dur
							li Anemokinetics; L#{u}#{__}din
							li Electrokinetics; E#{__}ldur
			li
				| Military
				ul
					li
						| All combatants worship #{S}tr#{i}#{__}#{d}ur
						ul
							li
								| Archer & Crossbowman
								ul: li No#{__}kvur
							li
								| Mage
								ul
									li A Wizard fighting in the military; specializing in combat-related magic
									li the deity of their chosen magic + Ga#{__}ldin
							li
								| Rifleman
								ul
									li No#{__}kvur
									li Bi#{__}#{s}ur
							li Swordsman
					li
						| Medic
						ul
							li #{S}ku#{__}r#{d}in
							li Me#{__}cur
							li Fri#{__}#{d}in
							li
								| Some medics are healing mages
								ul: li La#{__}kbin
		h2#dodha The Do#{__}#{d}a
		p
			| The#{space}
			i Do#{__}#{d}a
			| #{space}are a doomsday cult that worships Do#{__}#{d}ur, believing their faith will spare them from The#{space}
			a(href="istaga.html#furdha") Fu#{__}r#{d}a
			| .
		nav
			a(href="index.html") Home
			| #{space}|#{space}
			a(href="istaga.html") History
			| #{space}|#{space}
			a(href="kinsladha.html") Genealogy
			| #{space}|#{space}
			a(href="mena.html") Culture